<section id="header">
  <div class="forum-card">
    <img src="{{forumImageURL}}" alt="Forum Image" class="forum-image">
    <div class="forum-card-content">
      <div class="forum-card-text">
        <h1>{{forum.title}}</h1>
        <p>{{forum.description}}</p>
      </div>
      <div class="forum-card-button"><button mat-button (click)="subscribeOrDelete(isInForum)">{{isInForum ? 'SALIR' : 'UNIRSE'}}</button></div>
    </div>
    <div class="forum-fill-div"></div>
  </div>
</section>

<div *ngIf="isInForum">
  <div class="padding"></div>
  <button mat-raised-button class="new-post" (click)="createPost()">CREAR POST</button>
  <div class="padding"></div>
</div>

<section id="content" *ngIf="posts.length == roles.length">
  <div class="container">
    <div class="post" *ngFor="let post of posts; index as index">
      <mat-card>
      <mat-card-header >
        <div mat-card-avatar class="post-header-image" >
          <img class="post-header-image" src="{{URL}}/images/{{authors[index].profile_picture}}">
        </div>
        <mat-card-title>{{authors[index].username}}</mat-card-title>
        <mat-card-subtitle *ngIf="roles[index]" [ngStyle]="{'color': roles[index].color}">{{roles[index].name}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="{{URL}}/images/{{posts[index].content}}" alt="Post image" class="post-body-image">
      <mat-card-content>
        <h3>{{posts[index].title}}</h3>
      </mat-card-content>
      <mat-card-actions>
        <button class="postButton" mat-button (click)="seePost(posts[index]._id)">VER</button>
      </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div class="footer"></div>
</section>