<div>
    <p routerLink="home">FORUM</p>
    <nav>
        <ul>
            <li>
                <a routerLink="home">HOME</a>
            </li>
            <li>
              <a routerLink="post">FEATURES</a>
            </li>
            <li>
              <a routerLink="forum">FORUMS</a>
            </li>
            <li>
                <a routerLink="register">REGISTER</a>
            </li>
            <li>
                <a routerLink="login">LOG IN</a>
            </li>
        </ul>
    </nav>
</div>
