<div>
    <div class="container">
        <p routerLink="home">FORUM</p>
        <nav>
            <ul>
                <li>
                    <a routerLink="home">HOME</a>
                </li>
                <li *ngIf="!isLogged">
                    <a routerLink="register">REGISTER</a>
                </li>
                <li *ngIf="!isLogged">
                    <a routerLink="login">LOG IN</a>
                </li>
                <li *ngIf="isLogged" (click)="logout()">
                    <a routerLink="home">LOG OUT</a>
                </li>
                <li *ngIf="isLogged">
                    <a routerLink="user">{{decodedToken.username}}</a>
                </li>
            </ul>
        </nav>
    </div>
</div>