div {
    background-color: #293340;
}

div .container{
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    min-width: 480px;
    width: 90%;
    margin: auto;
    background-color: #293340;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

p {
    margin: auto 0;
    padding: 10px 10px;
    font-size: 26px;
}

ul {
    margin: auto;
    display: flex;
}

li {
    list-style: none;
    margin: auto 10px;
    line-height: 36px;
    font-size: 12px;
    padding: 10px 0;
}

a {
    color: #fff;
    text-decoration: none;
}