<section id="post">
    <div class="padding"></div>
    <mat-card class="post-card">
      <mat-card-header class="post-header">
        <mat-card-title>
          <h2>{{post.title}}</h2>
        </mat-card-title>
        <div class="user"><b>Posted by:</b> <p>{{postAuthor.username}}</p></div>
      </mat-card-header>
      <img mat-card-image src="{{postImageURL}}" alt="Post image" class="post-body-image">
      <mat-card-content class="post-content">
      </mat-card-content>
    </mat-card>
</section>

<section id="comments">
  <div class="padding"></div>
  <div class="comment-container">
    <mat-card *ngFor="let comment of comments">
      <mat-card-header (onCreate)="getCommentAuthor(comment.id_user)">
        <div mat-card-avatar class="comment-header-image">imagen</div>
        <mat-card-title>{{commentAuthor.username}}</mat-card-title>
        <mat-card-subtitle  [ngStyle]="{'color': role.color}">{{role.name}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>{{comment.message}}</p>
      </mat-card-content>
    </mat-card>
    <form [formGroup]="form" (submit)="publishComment()">
      <mat-form-field class="comment-section" appearance="fill" *ngIf="isLogged">
        <textarea matInput formControlName ="message"></textarea>
      </mat-form-field>
      <button mat-raised-button class="comment-button" *ngIf="isLogged">Comentar</button>
    </form>
  </div>
  <div class="footer"></div>
</section>