section {
  font-family: 'Poppins', sans-serif;
}

.padding {
  height: 10px;
}

.post-card {
  max-width: 980px;
  min-width: 480px;
  margin: auto;
  padding: 0;
}

.post-header {
  height: 75px;
  padding: 0px 60px;
  display: flex;
  justify-content: space-between;
  max-width: 980px;
  min-width: 480px;
}

.post-body-image {
  margin: auto;
  max-width: 720px;
  min-width: 480px;
}

.post-content {
  padding: 20px 100px;
}

.comment-container {
  justify-content: space-between;
  max-width: 640px;
  min-width: 480px;
  margin: auto;
}

.comment-menu-panel {
  margin-left: auto;
}

.comment-header-image {
  background-size: cover;
}

h2 {
  padding: 20px 0px;
}

.user {
  padding: 20px 0px;
}

.comment-section {
  display: inline;
  width: 100%;
  max-width: 640px;
  min-width: 480px;
}

.comment-button {
  font-family: 'Poppins', sans-serif;
  background-color: #f24444;
  color: #fff;
  justify-content: space-between;
  margin: auto;
  font-size: 12;
  padding: 10px 8px;
  border: none;
}

.footer {
  width: 100%;
  height: 32px;
}
