<section id="post">
    <div class="padding"></div>
    <mat-card class="post-card">
      <mat-card-header class="post-header">
        <mat-card-title>
          <h2>{{post.title}}</h2>
        </mat-card-title>
        <div class="user"><b>Posted by:</b> <p>{{postAuthor.username}}</p></div>
        <div class="post-menu-panel">
          <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="ownsPost()">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="wantsToEditPost = !wantsToEditPost">
              <mat-icon>edit</mat-icon>
              <span>Edit</span>
            </button>
            <button mat-menu-item (click)="deletePost(post._id)">
              <mat-icon>delete</mat-icon>
              <span>Delete</span>
            </button>
          </mat-menu>
        </div>
      </mat-card-header>
      <form [formGroup]="formPost" (submit)="editPost(post._id)" *ngIf="wantsToEditPost">
        <img mat-card-image [src]="imgSrc" alt="Post image" class="post-body-image">
        <mat-card-content class="edit-post-content">
          <div class="inputl">
            <mat-form-field appearance="fill">
              <mat-label for="titulo">Nuevo Titulo</mat-label>
              <input matInput type="text" name="titulo" placeholder="{{post.title}}" formControlName="title">
            </mat-form-field>
          </div>
          <div class="inputr">
            <input  type="file" [multiple]="false"accept="image/jpg, image/png, image/gif"  (change)="onFileChange($event);">
          </div>
          <div>
            <button>Guardar</button>
          </div>
        </mat-card-content>
      </form>
      <mat-card-content class="post-content" *ngIf="!wantsToEditPost">
        <img mat-card-image src="{{postImageURL}}" alt="Post image" class="post-body-image">
      </mat-card-content>
    </mat-card>
</section>

<section id="comments" *ngIf="comments.length == authors.length">
  <div class="comment-container" *ngFor="let comment of comments; index as index">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="comment-header-image">
          <img class="comment-header-image" src="{{URL}}/images/{{authors[index].profile_picture}}">
        </div>
        <mat-card-title>{{authors[index].username}}</mat-card-title>
        <mat-card-subtitle  [ngStyle]="{'color': role.color}">{{role.name}}</mat-card-subtitle>
        <div class="comment-menu-panel">
          <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="ownsComment(comment.id_user)">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="wantsToEditComment(comment._id)">
              <mat-icon>edit</mat-icon>
              <span>Edit</span>
            </button>
            <button mat-menu-item (click)="deleteComment(comment._id)">
              <mat-icon>delete</mat-icon>
              <span>Delete</span>
            </button>
          </mat-menu>
        </div>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="form" (submit)="editComment(comment._id)" *ngIf="wantsToEditCmnt.includes(comment._id)">
          <mat-form-field class="comment-section" appearance="fill" *ngIf="isLogged">
            <mat-label>Nuevo comentario</mat-label>
            <textarea matInput formControlName="message" placeholder="{{comment.message}}">{{comment.message}}</textarea>
          </mat-form-field>
          <button mat-raised-button class="comment-button" *ngIf="isLogged">Guardar</button>
        </form>
        <p *ngIf="!wantsToEditCmnt.includes(comment._id)">{{comment.message}}</p>
      </mat-card-content>
    </mat-card>
  </div>
  <form class="form-comment" [formGroup]="form" (submit)="publishComment()">
    <mat-form-field class="comment-section" appearance="fill" *ngIf="isLogged">
      <textarea matInput formControlName ="message" placeholder="Comenta"></textarea>
    </mat-form-field>
    <button mat-raised-button class="comment-button" *ngIf="isLogged">Comentar</button>
  </form>
  <div class="footer"></div>
</section>
