<section id="forum-info">
    <div class="forum-card">
      <img src="{{forumImageURL}}" alt="Forum Image" class="forum-image">
      <div class="forum-card-content">
        <div class="forum-card-text">
          <h1>{{forum.title}}</h1>
          <p>{{forum.description}}</p>
        </div>
      </div>
      <div class="forum-fill-div"></div>
    </div>
  </section>

  <form [formGroup]="form" (submit)="publish()">
  <div class="post-card-container">
    <mat-card  class="">
      <mat-card-header>
        <div mat-card-avatar class="post-header-image">
          <img class="post-header-image" src="{{userImageURL}}">
        </div>
        <mat-card-title>{{decodedToken.username}}</mat-card-title>
        <mat-card-subtitle [ngStyle]="{'color': role.color}">{{role.name}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="imgSrc" alt="Post image" class="post-body-image">
      <mat-card-content>
        <div class="inputl">
            <mat-form-field appearance="fill">
                <mat-label for="titulo">Titulo </mat-label>
                <input matInput type="text" name="titulo" placeholder="Titulo" formControlName="title">
            </mat-form-field>
        </div>
        <div class="inputr">
                <input  type="file" [multiple]="false"accept="image/jpg, image/png, image/gif"  (change)="onFileChange($event);">
        </div>
      </mat-card-content>
      <div>
        <button>Publicar</button>
      </div>
    </mat-card>
  </div>
  <div class="footer"></div>
</form>