<div class="container"> 
    <form>
        <div>
            <label for="username">Username: </label>
            <input type="text" name="username" placeholder="Username">
        </div>
        <div>
            <label for="password">Password: </label>
            <input type="text" name="password" placeholder="Password">
        </div>
        <div>
            <button>Log in</button>
        </div>
        <div>
            Don't have an account? <br><a routerLink="/register">Sign up here</a>
        </div>
    </form>
</div>