.container {
    display: flex;
    justify-content: center;
    max-width: 1280px;
    min-width: 480px;
    width: 90%;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    color: #293340;
}

form {
    margin: 90px;
    padding: 0 25px;
    background: rgba(204, 204, 204, 0.5);
}

form div {
    margin: 25px 0;
}

form label {
    margin: 0 0 15px 0;
    display: block;
}

form input {
    padding: 10px 10px;
}

form button {
    font-size: 12;
    padding: 10px 16px;
    background-color: #f24444;
    border: none;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    text-align:center;
}