div {
    display: flex;
    justify-content: center;
    min-width: 480px;
    width: 100%;
    margin: auto;
    background-color: #293340;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    position: fixed;
    bottom: 0;
}