section {
    font-family: 'Poppins', sans-serif;
}

.new-forum-card {
    justify-content: space-between;
    max-width: 640px;
    min-width: 480px;
    width: 75%;
    margin: auto;
}

.new-forum-form {
    width: 100%;
}

.full-width-form-field {
    width: 100%;
}
