<section id="content-header">
    <div class="container">
        <div class="search">
            <h1>Welcome to the Forum</h1>
            <p>Share your opinion!</p>
            <form class="" action="">
                <input type="text">
                <button>Search</button>
            </form>
        </div>
        <div class="information">
            <div>
                <ul>
                    <li>Registered Users</li>
                    <li>Forums</li>
                    <li>Topics</li>
                    <li>Replies</li>
                </ul>
            </div>
                <ul>
                    <li>3,854</li>
                    <li>5</li>
                    <li>20</li>
                    <li>62</li>
                </ul>
        </div>
    </div>
</section>

<section id="forum-list">
    <div class="container">
        <h2>Foros Recientes</h2>
        <div class="forum">
            <h3>Nombre Foro</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur numquam libero, quaerat, accusamus unde odio impedit minima suscipit magnam soluta quo ut vitae cumque doloribus ullam ex maiores! Facere, dicta?</p>
        </div>
        <div class="forum">
            <h3>Nombre Foro</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur numquam libero, quaerat, accusamus unde odio impedit minima suscipit magnam soluta quo ut vitae cumque doloribus ullam ex maiores! Facere, dicta?</p>
        </div>
        <div class="forum">
            <h3>Nombre Foro</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur numquam libero, quaerat, accusamus unde odio impedit minima suscipit magnam soluta quo ut vitae cumque doloribus ullam ex maiores! Facere, dicta?</p>
        </div>
    </div>
</section>