section {
    font-family: 'Poppins', sans-serif;
}

#content-header {
    .container {
        background-color: #293340;
        display: flex;
        justify-content: space-between;
        max-width: 1280px;
        min-width: 480px;
        width: 90%;
        margin: auto;
        color: #fff;
    }

    .search {
        padding: 60px 20px;
    }
    
    form {
    margin: 0;
    padding: 0;
    }
}

.search {
    input {
    position: relative;
    width: 75%;
    margin: 0px;
    padding: 10px 10px;
    font-size: 26px;
    border: none;
    }
    
    button {
    display: block;
    width: 20%;
    height: 50px;
    font-size: 12;
    padding: 0px 8px;
    background-color: #f24444;
    border: none;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    text-align:center;
    }

    p {
        margin-bottom: 50px;
    }
}

h1 {
    margin: 0;
    font-size: 36px;
}

#content-header {
    .information {
        margin: 50px;
        display: flex;
        justify-content: space-between;
        background-color: #666;
        min-width: 220px;
        width: 25%;
    }
    
    ul {
    padding: 10px;
    list-style-type: none;
    }

    li {
    padding: 10px 0;
    }
}

#forum-list {
    .container {
    max-width: 1280px;
    min-width: 480px;
    width: 90%;
    margin: auto;
    }

    h2 {
    margin: 20px 0;
    padding: 20px 20px;
    }

    .forum {
    margin: 25px 20px;
    padding: 0 20px;
    border: 1px solid #666;
    }
}

.forum {
    display: flex;
    justify-content: space-between;

    button {
        height: 50px;
        font-size: 12;
        padding: 0px 16px;
        background-color: #f24444;
        font-family: 'Poppins', sans-serif;
        color: #fff;
        text-align:center;
        }
}

.footer {
    width: 100%;
    height: 32px;
}