<section id="content-header">
    <div class="container">
        <div class="search">
            <h1>Welcome to the Forum</h1>
            <p>Share your opinion!</p>
            <form class="" action="">
                <input type="text" [(ngModel)]="searchValue" (keyup)="doSearch()" name="searchbar">
                <button>Search</button>
            </form>
        </div>
        <div class="information">
            <div>
                <ul>
                    <li>Registered Users</li>
                    <li>Forums</li>
                    <li>Topics</li>
                    <li>Replies</li>
                </ul>
            </div>
                <ul>
                    <li>{{numberUsers}}</li>
                    <li>{{numberForums}}</li>
                    <li>{{numberTopics}}</li>
                    <li>{{numberReplies}}</li>
                </ul>
        </div>
    </div>
</section>

<section id="forum-list">
    <div class="container">
        <div *ngIf="isLogged">
            <div class="padding"></div>
            <button mat-raised-button class="new-forum" routerLink="/new-forum">CREAR FORO</button>
            <div class="padding"></div>
          </div>
        <h2>Foros Recientes</h2>
        <div class="forum" *ngFor="let forum of filteredForums">
            <div class="leftside">
                <h3>{{forum.title}}</h3>
                <p>{{forum.description}}</p>
            </div>
            <div class="rightside">
                <button class="visualizar" (click)="seeForum(forum._id)">Ver foro</button>
            </div>
        </div>
    </div>
</section>